:root {
  /* daytime colors */
  --color_background: rgb(240, 240, 240);
  --color_text: rgb(32, 32, 32);

  --color_link: #2C5F78;
  --color_link_hover: #1C3D52;

  --color_nav_link: rgb(180, 180, 180);
  --color_nav_link_hover: rgb(240, 240,240);

  --color_nav_background: #444444;
  --color_nav_background_hover: #222222;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* nighttime colors */
    --color_background: rgb(32, 32, 32);
    --color_text: rgb(240, 240, 240);

    --color_link: #51ACC5;
    --color_link_hover: #2C5F78;
  
    --color_nav_background: #333333;
    --color_nav_background_hover: #444444;
  }
}

/* base page */
body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--color_background);
  color: var(--color_text);
  padding: 0;
  margin: 0;
}

.pageheader {
  width: 100%;
  text-align: center;
  margin-top: 1em;
}

/* general links */
a {
  color: var(--color_link);
  transition: color .2s;
  text-decoration: none;
}

a:hover {
  color: var(--color_link_hover);
}

/* base container, centered */
#page {
  width: 80%;
  min-width: 600px;
  max-width: 600px;
}

.logo {
	padding: 1em 0;
  width: 367px;
  height: 82px;
}


/* fixed menu thumbnails size */
.main_menu img {
  width: 16px;
  height: 16px;
  padding-right: 0.4em;
}

.main_menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--color_nav_background);
  flex-wrap: nowrap;
  display: flex;
}

.main_menu li {
  white-space: nowrap;
  vertical-align: top;
}

.main_menu span {
  white-space: nowrap;
}

.main_menu a {
  padding: 0.5em 1em;
  color: var(--color_nav_link);
  background-color: var(--color_nav_background);
  transition: all .2s;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.main_menu a:hover {
  background-color: var(--color_nav_background_hover);
  color: var(--color_nav_link_hover);
}


.divcentered {
  margin: auto;
}


.articlemain {
	margin-top: .5em;
	margin-bottom: 1em;
}

.articleheader {
  font-weight: bold;
}